.flex.justify-end.mb-5.mt-5 button {
    margin-right: 4px; 
  }

  .logo {

    .logo-icon {
        margin-right: 16px;
    }

    .logo-text {
        font-size: 24px;
    }
}

.inventory-grid {
    grid-template-columns:       25% 10% 10%      15% 15% 10%  72px ;
 
}


