<div
    class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent"
>
    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b"
    >
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">
            Clinic Directory
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field
                class="fuse-mat-dense fuse-mat-rounded min-w-64"
                [subscriptSizing]="'dynamic'"
            >
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:search'"
                ></mat-icon>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Search Clinics'"
                />
            </mat-form-field>
            <!-- Add product button -->
            <a
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="addClinic()"
                [routerLink]="['./add-clinic']"

            >
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span></a
            >

        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- Products list -->
        <div
            class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto"
        >
            <ng-container *ngIf="clinics as iclinics">
                <ng-container *ngIf="iclinics.length > 0; else noClinics">
                    <div class="grid">
                        <!-- Header -->
                        <div
                            class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort matSortDisableClear
                        >
                            <!-- <div [mat-sort-header]="'id'">ID</div> -->
                            <!-- <div [mat-sort-header]="'clregid'">CLINIC REG ID</div> -->
                            <div [mat-sort-header]="'clinic'">CLINIC</div>
                            <div [mat-sort-header]="'createdDate'">CREATED DATE</div>
                            <div [mat-sort-header]="'city'">CITY</div>
                            <div [mat-sort-header]="'address'">ADDRESS</div>
                            <div [mat-sort-header]="'hotline1'">HOTLINE</div>
                            <div [mat-sort-header]="'reamrks'">REMARKS</div>
                            <div [mat-sort-header]="'details'">DETAILS</div>
                        </div>

                        <!-- Rows -->
                        <ng-container *ngIf="clinics as products">
                            <ng-container *ngFor="let product of products; trackBy: trackByFn" >
                                <div class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                    <!-- <div class="truncate">
                                       <small>{{ product.id }} </small>
                                    </div> -->

                                    <!-- <div class="truncate"> {{ product.clnicRegistrationID }} </div> -->
                                    <div class="truncate"> {{ product.clinicName }} </div>
                                    <div class="truncate"> {{ product.createdDate }} </div>
                                    <div class="truncate"> {{ product.clinicCity }} </div>
                                    <div class="truncate"> {{ product.clinicAddress }} </div>
                                    <div class="truncate"> {{ product.hotline1 }} </div>
                                    <div class="truncate"> {{ product.remark }} </div>


                                    <!-- Details button -->
                                    <div>
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6" color="primary" mat-flat-button (click)="toggleDetails(product.id)"
                                        >
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="
                                                    selectedClinic?.id ===
                                                    product.id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"
                                            ></mat-icon>
                                        </button>
                                    </div>
                                </div>

                                <div class="grid">
                                    <ng-container *ngIf="selectedClinic?.id === product.id">
                                        <ng-container
                                            *ngTemplateOutlet="rowDetailsTemplate; context: { $implicit: product } ">
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>


                    <mat-paginator
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}" [length]="pagination.length"
                        [pageIndex]="pagination.page" [pageSize]="pagination.size" [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true" (page)="onPageChange($event)">
                    </mat-paginator>

                </ng-container>
            </ng-container>

            <ng-template #rowDetailsTemplate let-product>
                <div class="shadow-lg overflow-hidden">
                    <div class="flex border-b">
                        <!-- Selected user form -->
                        <form class="flex flex-col w-full" [formGroup]="clinicEditForm">

                            <div class="flex flex-row flex-auto flex-wrap sm:flex-row pt-8 space-x-15 sm:pl-16 -mb-6 form">
                                <mat-form-field class="w-120">
                                    <mat-label>Clinic</mat-label>
                                    <input matInput [formControlName]="'clinicName'">
                                </mat-form-field>

                                <!-- Doctor -->
                                <mat-form-field class="w-120">
                                    <mat-label>Created Date</mat-label>
                                    <input [formControlName]="'createdDate'" matInput [matDatepicker]="picker">
                                    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="flex flex-row flex-auto flex-wrap sm:flex-row pt-8 space-x-15 sm:pl-16 -mb-6 form">
                                <mat-form-field class="w-120">
                                    <mat-label>City</mat-label>
                                    <input matInput [formControlName]="'clinicCity'">
                                </mat-form-field>

                                <!-- address -->
                                <mat-form-field class="w-120">
                                    <mat-label>Address</mat-label>
                                    <input matInput [formControlName]="'clinicAddress'">
                                </mat-form-field>
                            </div>

                            <div class="flex flex-row flex-auto flex-wrap sm:flex-row pt-8 space-x-15 sm:pl-16 form">
                                <!-- hotline1 -->
                                <mat-form-field class="w-120">
                                    <mat-label>Hotline 1</mat-label>
                                    <input matInput [formControlName]="'hotline1'">
                                </mat-form-field>

                                <!-- remark -->
                                <mat-form-field class="w-120">
                                    <mat-label>Remarks </mat-label>
                                    <input matInput [formControlName]="'remark'">
                                </mat-form-field>
                            </div>

                            <!-- <div class="flex flex-col sm:flex-row p-8">
                                <div class="flex flex-auto flex-wrap">
                                    <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">

                                    </div>
                                </div>
                            </div> -->

                            <div class="flex items-center justify-between w-full border-t px-8 py-4" style="border-color: #CBC8C8;">
                                <button class="-ml-1" mat-button style="background-color: #E76565; color:aliceblue" (click)="deleteSelectedUser(user)">
                                    Delete
                                </button>
                                <div class="flex items-center">
                                    <div class="flex items-center mr-4" *ngIf="flashMessage">
                                        <ng-container *ngIf="flashMessage === 'success'">
                                            <mat-icon class="text-green-500"
                                                [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                            <span class="ml-2">Clinic updated</span>
                                        </ng-container>
                                        <ng-container *ngIf="flashMessage === 'error'">
                                            <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                            <span class="ml-2">An error occurred, try again!</span>
                                        </ng-container>
                                    </div>
                                    <button mat-flat-button [color]="'primary'" (click)="updateSelectedProduct(user)">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </ng-template>
            <ng-template #noProducts>
                <div
                    class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center"
                >
                    There are no patient!
                </div>
            </ng-template>
        </div>
    </div>
</div>


